@page "/zivotinje"
@page "/zivotinje/{userId:int}"

@using VeterinarskaStanica.Service.AppService
@using VeterinarskaStanica.Model.Model.Datatable
@using VeterinarskaStanica.Model.Core
@using CurrieTechnologies.Razor.SweetAlert2
@using VeterinarskaStanica.Web.Helper
@using Microsoft.AspNetCore.Http

@attribute [Authorize]
@layout MainLayout

@inject IJSRuntime JSRuntime
@inject IPetService PetService
@inject IUserService UserService
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal
@inject AppState State
@inject IModalService Modal

<main>
    <div class="container-fluid">
        <h1 class="mt-4">@(user != null ? $"Korisnik {user.Name} {user.Surname} - {user.Username}" : "Učitavanje..")</h1>
        <div class="card mb-4 mt-4">
            <div class="card-header">
                <div class="float-left">
                    <i class="fa fa-table mr-1"></i>
                    Tablica životinja
                </div>
                <div class="float-right">
                    <button @onclick="@(() => OpenModal(0))" class="btn btn-primary ml-2">
                        Dodaj životinju <i class="fa fa-plus ml-2"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row mb-3">
                            <div class="col-sm-12 col-md-12">
                                <div class="dataTables_length" id="dataTable_length">
                                    <label>
                                        Prikaži
                                        <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm" @onchange="@((ChangeEventArgs e) => ChangePerPage(Int32.Parse(e.Value.ToString())))">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> rezultata
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 mt-4">
                                <div id="dataTable_filter" class="dataTables_filter">
                                    <label>
                                        Pretraži:
                                        <input type="search" class="form-control form-control-sm" placeholder="Pretraži.." aria-controls="dataTable" @oninput="@((ChangeEventArgs args) => FilterChangedAsync(args.Value.ToString()))">
                                    </label>
                                </div>
                            </div>
                        </div>
                        @if (pets.Count < 1 && !firstLoading)
                        {
                            <div class="text-center mt-5">
                                <p>Trenutno nema podataka koji zadovoljavaju postavljene kriterije pretrage.</p>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">
                                                <th @onclick='() => SortBy("Id")' class="sorting@(options.SortBy.Equals("Id") ? (options.SortByDirection.Equals("asc") ? "_asc" : "_desc") : "")" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 75px;">#</th>
                                                <th @onclick='() => SortBy("Name")' class="sorting@(options.SortBy.Equals("Name") ? (options.SortByDirection.Equals("asc") ? "_asc" : "_desc") : "")" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 150px;">Ime</th>
                                                <th @onclick='() => SortBy("PetTypeId")' class="sorting@(options.SortBy.Equals("PetTypeId") ? (options.SortByDirection.Equals("asc") ? "_asc" : "_desc") : "")" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 150px;">Vrsta životinje</th>
                                                <th tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 150px;">Akcije</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Pet pet in pets)
                                            {
                                                <tr role="row" class="@(pets.IndexOf(pet) % 2 == 0 ? "even" : "odd")">
                                                    <td>@pet.Id</td>
                                                    <td>@pet.Name</td>
                                                    <td>@pet.PetType.Name</td>
                                                    <td>
                                                        <button @onclick="@(() => OpenModal(pet.Id))" class="btn btn-primary" title="Uredi">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button @onclick="() => DeletePet(pet.Id)" class="btn btn-danger" title="Izbriši">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Trenutno prikazano @(((options.Page - 1) * options.PerPage) + 1) do @(pets.Count + ((options.Page - 1) * options.PerPage)) od @options.TotalRecords podataka</div>
                                </div>
                                @if (options.TotalPages > 1)
                                {
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                            <ul class="pagination">
                                                @if (options.TotalPages > 5)
                                                {
                                                    <li class="paginate_button page-item previous @(options.FirstShowPage == 1 ? (MarkupString)"disabled" : (MarkupString)"")" id="kt_table_1_previous">
                                                        <a aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link" @onclick="@(() => ChangePage(1))">
                                                            <i class="fas fa-chevron-left"></i>
                                                            <i class="fas fa-chevron-left"></i>
                                                        </a>
                                                    </li>
                                                }
                                                <li class="paginate_button page-item previous @(options.Page == options.FirstShowPage ? (MarkupString)"disabled" : (MarkupString)"")" id="kt_table_1_previous">
                                                    <a aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link" @onclick="@(() => ChangePage(options.Page - 1))">
                                                        <i class="fas fa-chevron-left"></i>
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item @(options.Page == options.FirstShowPage ? (MarkupString)"active" : (MarkupString)"")">
                                                    <a aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link" @onclick="@(() => ChangePage(options.FirstShowPage))">@options.FirstShowPage</a>
                                                </li>
                                                @for (var i = (options.FirstShowPage + 1); i <= (options.TotalPages > options.LastShowPage ? options.LastShowPage : options.TotalPages); i++)
                                                {
                                                    var currentIndex = i;
                                                    <li class="paginate_button page-item @(options.Page == i ? (MarkupString)"active" : (MarkupString)"")">
                                                        <a aria-controls="dataTable" data-dt-idx="@i" tabindex="0" class="page-link" @onclick="@(() => ChangePage(currentIndex))">@i</a>
                                                    </li>
                                                }
                                                <li class="paginate_button page-item previous @(options.TotalPages == options.Page ? (MarkupString)"disabled" : (MarkupString)"")" id="kt_table_1_previous">
                                                    <a aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link" @onclick="@(() => ChangePage(options.Page + 1))">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </a>
                                                </li>
                                                @if (options.TotalPages > 5)
                                                {
                                                    <li class="paginate_button page-item previous @(options.LastShowPage == options.TotalPages ? (MarkupString)"disabled" : (MarkupString)"")" id="kt_table_1_previous">
                                                        <a aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link" @onclick="@(() => ChangePage(options.TotalPages))">
                                                            <i class="fas fa-chevron-right"></i>
                                                            <i class="fas fa-chevron-right"></i>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                }

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@code{

    [Parameter]
    public int userId { get; set; }

    private User user { get; set; }
    private List<Pet> pets = new List<Pet>();
    private DatatableOptions options = new DatatableOptions();

    private bool firstLoading = true;

    protected override async Task OnInitializedAsync()
    {
        //Check does userId exist
        if (userId != 0)
        {
            //if userId != 0, only "Zaposlenik" have access to page
            if (HttpContextAccessor.HttpContext.User.IsInRole("Klijent"))
            {
                NavigationManager.NavigateTo("/");

                return;
            }

            user = await UserService.GetUser(userId);
        }
        else
        {
            //if userId == 0, only "Klijent" have access to page
            if (!HttpContextAccessor.HttpContext.User.IsInRole("Klijent"))
            {
                NavigationManager.NavigateTo("/");

                return;
            }

            user = await UserService.GetUser(HttpContextAccessor.HttpContext.User.Identity.Name);

            userId = user.Id;
        }

        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //Change "Page Title"
            await JSRuntime.InvokeVoidAsync("ChangePageTitle", "Veterinarska stanica | Korisnici");

            //Update list of pets
            await UpdateOptions();

            firstLoading = false;

            await InvokeAsync(() => StateHasChanged());
        }
    }

    #region Table methods

    /// <summary>
    /// Update list options
    /// </summary>
    /// <returns></returns>
    private async Task UpdateOptions()
    {
        // Get pets from database with specific options
        pets = await PetService.GetPets(options, userId);

        // Get number of total record in database
        options.TotalRecords = await PetService.CountPets(options, userId);

        // Update Options
        options = UserService.UpdateDatatableOptions(options);
    }

    /// <summary>
    /// Change page for table
    /// </summary>
    /// <param name="page"></param>
    /// <returns></returns>
    private async Task ChangePage(int page)
    {
        options.Page = page;
        await UpdateOptions();
        await InvokeAsync(() => StateHasChanged());
    }

    /// <summary>
    /// Change number of record per page
    /// </summary>
    /// <param name="perPage"></param>
    /// <returns></returns>
    private async Task ChangePerPage(int perPage)
    {
        options.Page = 1;
        options.PerPage = perPage;
        await UpdateOptions();
        await InvokeAsync(() => StateHasChanged());
    }

    /// <summary>
    /// Change search data
    /// </summary>
    /// <param name="args"></param>
    /// <returns></returns>
    private async Task FilterChangedAsync(string search)
    {
        options.Search = search;
        await UpdateOptions();
        await InvokeAsync(() => StateHasChanged());
    }

    /// <summary>
    /// Sort data by specific row
    /// </summary>
    /// <param name="sortBy"></param>
    /// <returns></returns>
    private async Task SortBy(string sortBy)
    {
        options.SortByDirection = options.SortBy.Equals(sortBy) ? (options.SortByDirection.Equals("asc") ? "desc" : "asc") : "asc";
        options.SortBy = sortBy;
        await UpdateOptions();
        await InvokeAsync(() => StateHasChanged());
    }

    #endregion

    #region Pet methods

    /// <summary>
    /// Open "ModalView" for edit or create
    /// </summary>
    /// <param name="petId">parameter petId is 0 then is create</param>
    /// <returns></returns>
    private async void OpenModal(int petId)
    {
        if (!State.Modal)
        {
            State.Modal = true;

            var parameters = new ModalParameters();
            //Adding parameters that will be transfered to "ModalView"
            parameters.Add(nameof(ModalView.petId), petId);
            parameters.Add(nameof(ModalView.userId), userId);

            //Title of "ModalView"
            string modalTitle = (petId != 0 ? "Uredi" : "Kreiraj") + " životinju";

            var formModal = Modal.Show<ModalView>(modalTitle, parameters);

            var result = await formModal.Result;

            if (result.Cancelled)
            {
                await UpdateOptions();

                await InvokeAsync(
                    () => StateHasChanged()
                );
            }

            State.Modal = false;
        }
    }

    /// <summary>
    /// Delete selected pet
    /// </summary>
    /// <param name="userId"></param>
    /// <returns></returns>
    private async Task DeletePet(int petId)
    {
        //Spinner on Top Navigation starts
        State.Spinner = true;

        //Adding sweet alert options
        SweetAlertOptions sweetAlertOptions = new SweetAlertOptions
        {
            Title = "Jeste li sigurni?",
            Text = "Životinja će biti izbrisana!",
            Icon = SweetAlertIcon.Warning,
            ShowCancelButton = true,
            ConfirmButtonText = "Da, izbriši!",
            CancelButtonText = "Ne"
        };

        //Fire sweet alert
        await Swal.FireAsync(sweetAlertOptions).ContinueWith(async swalTask =>
        {
        //sweet alert result (if user clicks Cancel Button, then result.Value is null)
        SweetAlertResult result = swalTask.Result;

            if (!string.IsNullOrEmpty(result.Value))
            {
                try
                {
                    await PetService.DeletePet(petId);

                    //Changeing sweet alert options
                    sweetAlertOptions = new SweetAlertOptions
                    {
                        Title = "Životinja je obrisana!",
                        Text = "Životinja je uspješno obrisana!",
                        Icon = SweetAlertIcon.Success,
                        ShowCancelButton = false,
                        ConfirmButtonText = "Uredu"
                    };

                    await UpdateOptions();

                    await InvokeAsync(() => StateHasChanged());
                }
                catch
                {
                //Changeing sweet alert options
                sweetAlertOptions = new SweetAlertOptions
                    {
                        Title = "Došlo je do pogreške!",
                        Text = "Greška prilikom brisanja životinje, molimo pokušate ponovno!",
                        Icon = SweetAlertIcon.Error,
                        ShowCancelButton = false,
                        ConfirmButtonText = "Uredu"
                    };
                }

            //Fire sweet alert
            await Swal.FireAsync(sweetAlertOptions);
            }
        });

        //Spinner on Top Navigation stops
        State.Spinner = false;
    }

    #endregion
}
